.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $primary;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $highlight;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-roll{
  position: relative;
  transition:transform  0.25s ease-out;
  transform: rotate(0);
}
.hover-underline-animation:hover{
  .hover-roll{
    transform: rotate(180deg)
  }
}

.a-spinRoll{
  animation: spin 1s infinite linear;
}

@keyframes toRight {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}