.navbarBg{
  background-color: rgba(#9d8b81, 0.7);
}

.index{
  overflow-x: hidden;
  .lineWrap{
    width: 13%;
  }
  .profile{
    min-height: calc(100vh - 88px);
    &__imgWrap{
      width: 346px;
      height: 415px;
      background-image: url(../images/profile.jpg);
      background-size: 100%;
      background-position: center 10%;
    }
    &__content{
      width: 80%;
      top: 30%;
      display: inline-block;
      @include media-breakpoint-down(sm){
        top: 45%;
      }
      .lineWrap{
        width: 256px;
      }
    }
  }
  .work{
    padding-top: 7rem;
    padding-bottom: 7rem;
    &::after{
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      width: calc(50% + 1px);
      height: 100%;
      top: 0;
      background-color: $secondary;
      @include media-breakpoint-down(sm){
        width: 100vw;
      }
    }
    &::before{
      content: '';
      position: absolute;
      width: 90vw;
      height: 100%;
      top: 0;
      left: 0;
      border: 1px solid $secondary;
      @include media-breakpoint-down(md){
        width: 100vw;
      }
      @include media-breakpoint-down(sm){
        content: unset;
      }
    }
    &__content{
      position: relative;
      z-index: 1;
    }
    &__text{
      padding-top: 5rem;
      flex: 1;
      @include media-breakpoint-down(md){
        padding-top: 0;
      }
    }
    &__desktop{
      flex: 1;
      &__img{
        width: 450px;
        height: 600px;
        background-size: 100%;
        background-position: 50% 0;
        @include media-breakpoint-down(md){
          width: 350px;
        }
      }
      &__desc{
        bottom: -3em;
        left: 50%;
        transform: translateX(-50%);
      }
      &__title{
        color: rgba($highlight, 0.5);
      }
    }
    &__mobile{
      &__img{
        width: 128px;
        height: 228px;
        @include media-breakpoint-down(sm){
          width: 80vw;
          height: 450px;
        }
      }
      &__line{
        // width: 150px;
        opacity: 0;
        height: 1px;
        background-color: $secondary;
      }
    }
    // 單數
    &--odd{
      &.work{
        &::after{
          left: 0;
        }
      }
      .work{
        &__mobile{
          margin-left: -8rem;
          @include media-breakpoint-down(sm){
            margin-left: 0;
          }
          &__desc{
            margin-left: -3rem;
            @include media-breakpoint-down(sm){
              margin-left: 0;
            }
          }
        }
      }
    }
    // 雙數
    &--even{
      &.work{
        &::after{
          right: 0;
        }
      }
      .work{
        &__mobile{
          margin-right: -8rem;
          @include media-breakpoint-down(sm){
            margin-right: 0;
          }
          &__desc{
            margin-right: -3rem;
            @include media-breakpoint-down(sm){
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  .eShop{
    &__desktopImg{
      background-image: url(../images/forest_pc.jpg);
      background-size: 100%;
      background-position: center 0;
    }
    &__mobileImg{
      background-image: url(../images/forest_mb.jpg);
    }
    
  }
  .hotelBooking{
    &__desktopImg{
      background-image: url(../images/aloha_pc.jpg);
    }
    &__mobileImg{
      background-image: url(../images/aloha_mb.jpg);
    }
  }
  .lanTreasure{
    &__desktopImg{
      background-image: url(../images/sul-treasure_pc.jpg);
    }
    &__mobileImg{
      background-image: url(../images/sul-treasure_mb.jpg);
    }
  }
  .lanCLAFDT{
    &__desktopImg{
      background-image: url(../images/CLAFDT_pc.jpg);
    }
    &__mobileImg{
      background-image: url(../images/CLAFDT_mb.jpg);
    }
  }
}