<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://use.typekit.net/iog7scv.css">
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-light px-0 py-4 sticky-top">
      <div class="container">
        <ul class="d-flex w-100 pl-0 mb-0 font-weight-bold">
          <!-- <li class="mr-4"><a class="text-dark" href="">About</a></li> -->
          <li class="mr-auto"><a class="text-dark" href="#work">Work</a></li>
          <li class="align-self-end"><a class="text-dark" href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>

    <%- contents %>

    <!-- <footer class="footer">
      footer
    </footer> -->

    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>