.centerLineWrap{
  width: 100%;
}
body{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: $secondary;
  }
}

.lineWrap{
  height: 6px;
  &__line{
    display: block;
    background-color: $highlight;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    animation: toRight 0.5s ease-out forwards;
  }
  &--odd{
    margin-left: 15vw;
  }
  &--even{
    margin-left: 35vw;
  }
}


